<app-linked-info-tooltip
  [ariaLabel]="'locationCard.solutions.seeMethodology' | translate"
  [linkLabel]="'locationCard.solutions.seeMethodology' | translate"
  routerLink="/methodology"
  triggerClass="relative inline-flex items-center justify-center p-1 rounded-full text-cdp-text-secondary hover:text-cdp-red hover:bg-cdp-neutral-01 active:bg-cdp-neutral-02 transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-cdp-red focus-visible:ring-offset-2 before:absolute before:content-[''] before:-inset-3"
>
  <app-info-icon size="14"></app-info-icon>
</app-linked-info-tooltip>
